<div class='column-box-2'>
  <div class='title'>
    {{site.data[page.data_file].partials[id].title}}
  </div>
  <div class='columns-wrapper'>
    <div class='column-1 column'>
      <div class='image-wrapper'>
        {% if {{site.data[page.data_file].partials[id].column-1.image.source}} %}
          {% if {{site.data[page.data_file].partials[id].column-1.image.link}} %}
          <a href='{{site.data[page.data_file].partials[id].column-1.image.link}}'>
          {% endif %}
        <img src='{{site.data[page.data_file].partials[id].column-1.image.source | replace:'root',root }}'>
          {% if {{site.data[page.data_file].partials[id].column-1.image.link}} %}
          </a>
          {% endif %}
        {% endif %}
      </div>
      <div class='text'>
        {{site.data[page.data_file].partials[id].column-1.text}}
      </div>
    </div>
    <div class='column-2 column'>
      <div class='image-wrapper'>
        {% if {{site.data[page.data_file].partials[id].column-2.image.source}} %}
          {% if {{site.data[page.data_file].partials[id].column-2.image.link}} %}
          <a href='{{site.data[page.data_file].partials[id].column-2.image.link}}'>
            {% endif %}
        <img src='{{site.data[page.data_file].partials[id].column-2.image.source | replace:'root',root }}'>
          {% if {{site.data[page.data_file].partials[id].column-2.image.link}} %}
          </a>
          {% endif %}
        {% endif %}
      </div>
      <div class='text'>
        {{site.data[page.data_file].partials[id].column-2.text}}
      </div>
    </div>
  </div>
</div>
