{% if site.data[page.data_file].partials[id].banner %}
<div class='banner' style="background-image:url('{{site.data[page.data_file].partials[id].banner.background-image}}')">
  <div class='banner-text'>{{site.data[page.data_file].partials[id].banner.text}}</div>
</div>
{% endif %}
<nav class="default-nav">
  <div class='main'>
    <a href='{{site.data[page.data_file].partials[id].title-link}}'>
      <div class='title'>{{site.data[page.data_file].partials[id].title}}</div>
      <div class='sub-title'>{{site.data[page.data_file].partials[id].sub-title}}</div>
    </a>
    <div class='hamburger-menu' onclick='navbarShow()'>
      <div class='line top'></div>
      <div class='line mid'></div>
      <div class='line bottom'></div>
    </div>
  </div>
  <div class='links'>
    <div class='link-list'>
      {% for link in site.data[page.data_file].partials[id].links %}
      <a class='link
      {% if link.title == site.data[page.data_file].partials[id].active-link %}
      active
      {% endif %}
      ' href='{{link.link}}'>{{link.title}}</a>
      {% endfor %}
    </div>
  </div>
</nav>
