<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">{{ site.data[page.data_file].navbar.brand_name }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      {% for link in site.data[page.data_file].navbar.links %}
        <li class="nav-item">
          <a class="nav-link" href="{{link[1]}}">{{link[0]}}</a>
        </li>
      {% endfor %}
    </ul>
  </ul>
</div>
</nav>
