
<h1 class="serviceh">Service We Provide </h1>
<hr>
<div class="desighn">
  <div class="desigh_Imag">
    <img class="image1"src="https://www.timeshighereducation.com/sites/default/files/computer-programmer-coding-on-laptop.jpg" alt="">
  </div>
  <div class="about_desigh">
    <p>we are<strong>modulos-Desighn</strong> we create, redesign, and
      maitanin website.
      our thechnique approch will shape your website into more attracticve for business tool.
    </p>
  </div>
</div>
<br>
<div class="desighn">
  <div class="about_desigh">
    <p>we are<strong>modulos-Desighn</strong> we create, redesign, and
      maitanin website.
      our thechnique approch will shape your website into more attracticve for business tool.
    </p>
  </div>
  <div class="desigh_Imag">
    <img class="image1" src="https://www.electronicproducts.com/uploadedImages/Education/Career/software_engineer_vs_computer_programmer.jpg" alt="">
  </div>
</div>
