.simple-box
  .top
    display: flex
    text-align: center
    font-size: $closeSize
    // this should be another class option for aesthetic sass so it can be reused
    // .close
    //   margin-left: inherit
    // .title
    //   margin: auto
  .image
    // this too should be another class like .mid to push the close up
    // margin-top: 10px
    margin-top: 10px
    width: 100%
    height: 125px
    max-height: 250px
    background-position: center
    background-size: cover
    background-repeat: no-repeat
  .text
    margin-top: 10px
    text-align: center
