body
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  flex-direction: column

$midLine: 30px
$start: 500ms

.front
  // height: 100vh
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  transition: 1s
  transition: width $start
  .intro
    transition: 1s
    padding: 15px 20px
    max-width: 80%
    background-color: white
    text-align: center
    border-top: 1px solid black
    border-bottom: 1px solid black
    .title, .text
      transition: $start
    .title
      font-size: 2rem
      margin-bottom: 10px
    .text
      font-size: 1.2rem
    +medium-devices
      max-width: 50%
  .navigation
    display: flex
    margin-top: $midLine
    flex-direction: column
    &::before
      content: ''
      display: block
      position: absolute
      left: calc(50% - 1px)
      width: 1px
      background: black
      height: $midLine
      margin-top: -$midLine
      transition: height $start
    .nav-tab
      padding: 7px
      border: 1px solid black
      border-top: 0px
      display: inline-block
      transition: 250ms, opacity $start
      a
        color: black
      a:hover
        text-decoration: none
      &:last-child
        border-radius: 0 0 5px 5px
      &:first-child
        border-radius: 5px 5px 0 0
        border-top: 1px solid black
      &:hover
        background-color: rgba(0, 0, 0, 0.075)
    +small-devices
      flex-direction: row
      .nav-tab
        border-top: 1px solid black
        border-left: 0px
        &:last-child
          border-radius: 0 5px 5px 0
        &:first-child
          border-radius: 5px 0 0 5px
          border-left: 1px solid black

.front.start
  width: 40%
  .title, .text, .nav-tab
    font-size: 0
  .navigation::before
    height: 0
