.slideshow
  display: flex
  position: absolute
  justify-content: center
  align-items: center
  .button-wrapper
    width: 100%
    height: 100%
    position: absolute
    svg
      width: 16px
      height: 28px
    .slide-button
      display: flex
      position: absolute
      justify-content: center
      align-items: center
      height: 100%
      width: 16px
      position: absolute
    .right-slide
      right: 0
      margin-right: 5px
    .left-slide
      left: 0
      margin-left: 5px
    .pause-slide
      width: 100%
      height: 28px
      bottom: 0
  img
    width: 100vw
    display: none
  .active
    display: inherit
  width: 100%
  background-color: black
