.slideshow
  display: flex
  justify-content: center
  align-items: center
  .button-wrapper
    opacity: 0
    width: 100%
    position: absolute
    // need prefix
    transition: opacity 400ms
    svg
      width: 32px
      height: 32px
    .slide-button
      display: flex
      position: absolute
      justify-content: center
      align-items: center
      height: 100%
      width: 16px
      position: absolute
    .right-slide
      right: 0
      margin-right: 5px
    .left-slide
      left: 0
      margin-left: 5px
    .pause-slide
      width: 100%
      height: 28px
      bottom: 0
  img
    // there should be a max height according to the screen size
    // the images should fit it all so it can look best and the images won't move when a different size comes on
    // max-height: 349px
    width: 100vw
    display: none
  .active
    display: inherit
  width: 100%
  background-color: black
.slideshow:hover
  .button-wrapper
    opacity: 1
