.slideshow
  display: flex
  position: relative
  justify-content: center
  align-items: center
  .button-wrapper
    z-index: 3
    opacity: 0
    width: 100%
    position: absolute
    // need prefix
    transition: opacity 500ms
    svg
      width: 32px
      height: 32px
    .slide-button
      display: flex
      position: absolute
      justify-content: center
      align-items: center
      height: 100%
      width: 32px
      position: absolute
    .right-slide
      right: 0
    .left-slide
      left: 0
    .pause-slide
      width: 100%
      height: 28px
      bottom: 0
  .button-wrapper.toggle
    opacity: 1
  .img-size
    width: 100%
    height: 100%
    opacity: 0
  .image-wrapper
    position: absolute
    width: 100%
    height: 100%
    img
      position: absolute
      width: 100vw
      max-height: 100%
      z-index: -1
      opacity: 0
    .fade-trans
      transition: opacity 1s
    .active
      z-index: 1
      opacity: 1
.slideshow.hasHover:hover
  .button-wrapper
    opacity: 1
