<!DOCTYPE html>
	<html>
		<head>
			{% include resources.html %}
			<!--  imports customs css for page-->
			{% for  stylesheet in site.data[page.title].scss %}
				<link rel="stylesheet" href='/resources/{{stylesheet}}'>
			{% endfor %}
			<!--  imports customs js for page-->
			{% for j in site.data[page.title].js %}
				<script src='/resources/{{j}}'></script>
			{% endfor %}
			<title>{{ page.title }}</title>
		</head>
		<body>
			{% include navbar.html %}
			{{ content }}
		</body>
	</html>
